build*/
vortrace.cpython-37m-darwin.so
vortrace.egg-info/
__pycache__/
dist/

vorenv/
venv*/
wheelhouse/

.ipynb_checkpoints/

.vscode/
.eggs/

*.so
run/
.DS_Store
.cache/
docs/_build/
docs/images/*.png
pytest-of-abeane/
.claude/
paper/paper.crossref
paper/paper.pdf
